body {
  color: #111;
  font-size: 1em;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5em;
  background-color: #fff;
  padding: 0;
  margin: 0; }

p {
  margin-bottom: 0.5em; }

a {
  color: pink;
  text-decoration: none; }
  a:hover, a:focus {
    color: fuchsia; }

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }
  footer p {
    text-align: center; }
