
html {
	overflow: hidden;
}

body {
	color: #111;
	font-size: 1em;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	line-height: 1.5em;
	background: #fff url(../images/bg.png) repeat left top;
	padding: 0;
	margin: 0;
}	

p {
	margin-bottom: 0.5em;
}

a { 
	color: pink; 
	text-decoration: none;
	&:hover, &:focus {
		color: fuchsia;
	}
}

#mainCanvas {
	// border: 1px solid rgba(255,0,255,0.2);
	margin: 0 auto;
	display: block;
	width: 1024px;
	height: 768px;
}

footer {

	color: #677C9A;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;

	p {
		text-align: center;
		line-height: 1em;
		span { color: #BACAE1; }
	}

}