$white: rgba(255,255,255,1.0);
$black: rgba(0,0,0,1.0);

$grey-lightest: rgba(250,250,250,1.0);
$grey-light: rgba(235,235,235,1.0);
$grey-dark: rgba(54,54,54,1.0);

$presence: rgba(235,155,101,1);
$environment: rgba(102,204,158,1);
$social: rgba(46,170,222,1);

$glow: rgba(6,219,180, 1);
