@import 'color';

/********************\
 $ RESET
\********************/

* {
	box-sizing: border-box;
}

/********************\
 $ DAMMIT, RATCHET
\********************/

.list li {
	border: none;
}

/********************\
 $ MAIN CONTENT
\********************/

.content {
	background: $grey-lightest;
}

/********************\
 $ USER SELECT
\********************/

.slider {
	background: $grey-dark;
	padding: 20px 0;

	ul {

		li {
			text-align: center;
			//TODO: Fix edge-to-edge avatar preview
		}
	}
}

.user {
	display: inline-block;
	height: 90px;
	width: 90px;
	border-radius: 45px;
	border: 5px solid transparentize($glow, .5);

	.avatar {
		height: 80px;
		width: 80px;
		border-radius: 40px;
	}

}

.user-name {
	display: block;
	text-transform: uppercase;
	color: $grey-light;
}

/********************\
 $ TIMELINE
\********************/

.event {
	position: relative;
	background: $grey-lightest;

	.decor {
		display: inline-block;
		position: absolute;
		left: 43px;
		top: 0;
		height: 100%;
		width: 3px;
		background: $grey-light;
		z-index: 0;
		opacity: .5;
	}

	.message {
		display: inline-block;
		color: $grey-dark;
		margin: 0 70px;
	}

	&:last-of-type {
		.decor {
			height: 50%;
		}
	}

}

// Base bubble class

.bubble {
	content: "";
	position: absolute;
	top: 25%;
	display: inline-block;
	height: 25px;
	width: 25px;
	border-radius: 25px;
	margin: 0 20px;
	z-index: 10;
	border: 3px solid $white;
}

// Event types

.presence {

	&:before {
		@extend .bubble;
		background: $presence;
	}

}

.environment {

	.message {
		opacity: .4;
	}

	&:before {
		@extend .bubble;
		background: $environment;
	}

}

.social {

	&:before {
		@extend .bubble;
		background: $social;
	}

}





