/********************\
 $ RESET
\********************/
* {
  box-sizing: border-box; }

/********************\
 $ DAMMIT, RATCHET
\********************/
.list li {
  border: none; }

/********************\
 $ MAIN CONTENT
\********************/
.content {
  background: #fafafa; }

/********************\
 $ USER SELECT
\********************/
.slider {
  background: #363636;
  padding: 20px 0; }
  .slider ul li {
    text-align: center; }

.user {
  display: inline-block;
  height: 90px;
  width: 90px;
  border-radius: 45px;
  border: 5px solid rgba(6, 219, 180, 0.5); }
  .user .avatar {
    height: 80px;
    width: 80px;
    border-radius: 40px; }

.user-name {
  display: block;
  text-transform: uppercase;
  color: #ebebeb; }

/********************\
 $ TIMELINE
\********************/
.event {
  position: relative;
  background: #fafafa; }
  .event .decor {
    display: inline-block;
    position: absolute;
    left: 43px;
    top: 0;
    height: 100%;
    width: 3px;
    background: #ebebeb;
    z-index: 0;
    opacity: .5; }
  .event .message {
    display: inline-block;
    color: #363636;
    margin: 0 70px; }
  .event:last-of-type .decor {
    height: 50%; }

.bubble, .presence:before, .environment:before, .social:before {
  content: "";
  position: absolute;
  top: 25%;
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  margin: 0 20px;
  z-index: 10;
  border: 3px solid white; }

.presence:before {
  background: #eb9b65; }

.environment .message {
  opacity: .4; }
.environment:before {
  background: #66cc9e; }

.social:before {
  background: #2eaade; }
